<% procedures.each do |procedure| %>
  <% if !procedure.id.nil? %>
  <li class="sortable-list__item -outer_radius_border panel procedure_list">
    <i class="fas fa-arrows-alt-v"></i>：
    <span class="procedure_title"><%= procedure.title %></span>
    <span class="btn-group ml-auto d-block">
      <%= link_to edit_manual_procedure_path(@manual, procedure), class: "btn btn-outline-success btn--small", remote: true do %>
        編集<i class="fas fa-pen"></i>
      <% end %>
      <%= link_to manual_procedure_path(@manual, procedure), method: :delete, data: {confirm: '削除しますか？' }, class: "btn btn-outline-danger btn--small" do %>
        削除<i class="fas fa-trash-alt"></i>
      <% end %>
    </span>
  </li>
  <% end %>
<% end %>

