<div class="breadlist">
  <ul class="breadlist__items">

    <li class="breadlist__item">
      <i class="fas fa-chevron-right"></i>
      <%= link_to 'メモ一覧', memos_path %>
    </li>

    <li class="breadlist__item">
      <i class="fas fa-chevron-right"></i>
      カテゴリー管理画面
    </li>

  </ul>
</div>