<div class="breadlist">
  <ul class="breadlist__items">

    <li class="breadlist__item">
      <i class="fas fa-chevron-right"></i>
      <%= link_to '公開中のマニュアル', '/' %>
    </li>

    <% if @list_title.nil? %>

    <% else %>
      <li class="breadlist__item">
        <i class="fas fa-chevron-right"></i>
        検索結果一覧
      </li>
    <% end %>


  </ul>

</div>