.message__list_area{
  .list_group__item{
    border-width: 0;
  }
}

.list_group__item{

  .chat_title{
    padding: 5px 10px 0;
  }

  .chat_type{
    padding: 0 10px 0;
    font-size: 0.9rem;
  }

  .chat_body{
    padding: 5px 10px 5px;
  }
}

.user_msg_arrow{
  position: relative;
  width: 10px;
}
.user_msg_arrow::before{
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-right-color: #ffffff;
  left: -8px;
  top: 10px;

}

.admin_msg_arrow{
  position: relative;
  width: 10px;
}
.admin_msg_arrow::before{
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-left-color: #ffffff;
  left: -1px;
  top: 10px;

}