<div class="container">

  <section class="container__section">
    <h2 class="container__title">
      Growing Manualについて
    </h2>
    あなたと共に成長する、あなただけのマニュアルを<br>
    大量のメモや大量のマニュアルを一括管理できるサイトです。<br>
    必要なときに必要なメモだけを引き出せる、<br>
    デジタルを最大限に生かした効率のいいマニュアルが作れます。<br>
    <span class="annotation">※公開中のマニュアルは閲覧できますが、マニュアルやメモの作成には会員登録が必要です。</span>
  </section>

  <section class="container__section panel">
    <h2 class="container__title">
      メモの作成
    </h2>
    <p>
      備忘録や学習の記録として<br>メモを作成できる
    </p>
    <%= image_tag 'make_memos.png' %>
  </section>

  <section class="container__section panel">
    <h2 class="container__title">
      マニュアルの登録
    </h2>
    <p>
      大量のメモの中から必要なものだけを<br>
      マニュアルの手順に登録
    </p>
    <%= image_tag 'manual_entry.png' %>
  </section>

  <section class="container__section panel">
    <h2 class="container__title">
      マニュアルの活用
    </h2>
    <p>
      マニュアルを開いて必要なときに<br>
      必要なメモだけを取り出せる
    </p>
    <%= image_tag 'show_manual.png' %>
  </section>

</div>