<div class="body_color__about_page">
  <div class="container about_container">

    <section class="container__section about0 eyecatch">
      <h2 class="container__title about__title">
        <%= image_tag 'takenoko.png', style: "width: 100px;", class: "about__title_image" %><br>
        <span class="text_move--spacing">
          <span class="title_text__strong">G</span>rowin<span class="title_text__strong">g</span> Manua<span class="title_text__strong">l</span>
        </span>
      </h2>
      <p>
        <span class="font--size_large">
          あなたと共に成長する<br>あなただけのマニュアルを
        </span>
        <br><br>
        <span style="font-size: 1.2rem;">
          大量のメモや大量のマニュアルを一括管理できるサイトです。<br>
          必要なときに必要なメモだけを引き出せる、<br>
          デジタルを最大限に生かした効率性の高いマニュアルが作れます。<br>
        </span>
        <span class="annotation">
          ※公開中のマニュアルは閲覧できますが、マニュアルやメモの作成には会員登録が必要です。
        </span>
      </p>
    </section>

    <section class="container__section container__about_section about1">
      <div class="container__section_bg_block_right">
        <div class="inner">
          <h2 class="section__title">
            メモの作成
          </h2>
          <div class="block-left">
            <%= image_tag 'make_memos.png', class: "panel" %>
          </div>
          <div class="block-right">
            <p>
              備忘録や学習の記録として<br>メモを作成できる
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="container__section container__about_section about2">
      <div class="container__section_bg_block_left">
        <div class="inner">
          <h2 class="section__title">
            マニュアルの登録
          </h2>
          <div class="block-left">
            <p>
              大量のメモの中から<br>必要なものだけを<br>
              マニュアルの手順に登録
            </p>
          </div>
          <div class="block-right">
            <%= image_tag 'manual_entry.png', class: "panel" %>
          </div>
        </div>
      </div>
    </section>

    <section class="container__section container__about_section about3">
      <div class="container__section_bg_block_right">
        <div class="inner">
          <h2 class="section__title">
            マニュアルの活用
          </h2>
          <div class="block-left">
            <%= image_tag 'show_manual.png', class: "panel" %>
          </div>
          <div class="block-right">
            <p>
              マニュアルを開いて必要なときに<br>
              必要なメモだけを取り出せる
            </p>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>