<div class="-outer_radius_border panel panel__main_text manual_detail">
  <ul class="panel__main_text_direction">
    <li class="info__label">説明：</li>
    <li><%= @manual.description %></li>
  </ul>
  <ul class="panel__main_text_markdown"></ul>
    <li class="info__label">
      タグ：
    </li>
    <li>
      <% @manual.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </li>
  </ul>
</div>
