<div class="tag_search">
  <h3 class="tag_search__title">タグ検索</h3>
  <ul>
  <% tags.each do |tag| %>
    <% if current_page?(root_path) || params[:target] == 'everyone' %>
      <li><%= link_to "#{tag.name}(#{tag.manuals.count}件)", tag_path(tag, target: 'everyone') %></li>
    <% else %>
      <li><%= link_to "#{tag.name}(#{tag.manuals.count}件)", tag_path(tag, target: 'mine') %></li>
    <% end %>
  <% end %>
  </ul>
</div>