<main>
  <%= render 'breadlists/memo_edit', memo: @memo %>
  <div class="main__content main__content_w800">
    <div id="memo_form">
      <%= render 'form', memo: @memo, categories: @categories %>

    </div>
  </div>
</main>

