<main>
  <div class="main__content main__content_w800">
    <%= link_to categories_path, class: "btn btn-outline-primary btn--small" do %>
      カテゴリ管理ページへ<i class="fas fa-pen"></i>
    <% end %>
    <h2 class="main__content-title">メモ新規作成</h2>
    <div id="memo_form">
      <%= render 'public/memos/form', memo: @memo, categories: @categories %>
    </div>


  </div>
</main>

