// テーマカラー

$main-color: #000000;
$bookmark-color: #f54785;
$primary-color: #007bff;
$review-color: #e8861f;
$cancel-color: #e8861f;
$light-color: #dddddd;
$success-color: #218838;
$disabled-color: #6c757d
