// テーマカラー

$main-color: #000000;
$bookmark-color: #f54785;
$primary-color: #007bff;
$review-color: #e8861f;
$cancel-color: #e8861f;
$light-color: #dddddd;
$success-color: #218838;
$disabled-color: #6c757d;
$danger-color: #dc3545;
$error-color: #e8581f;

// フォントファミリー

$gothic-group: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

$mincho-group: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;