/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_directory
 *= require_self
 *= require_tree ./public
 */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.procedure-form{
  display: flex;
}

.procedure-form__position{
  width: 10%;
  display: flex;
  flex-direction: column;
}

.procedure-form__title{
  width: 40%;
  display: flex;
  flex-direction: column;
}

#procedure-form__title-input{
    width: 100%;
  }

.procedure-form__submit{
  display: flex;
  align-items: flex-end;
  padding-left: 10px;
}

.sortable-list__item{
  cursor: pointer;
}


.tab {
  cursor: pointer;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}

.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}

.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
}

.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

.d-flex{
  display: flex;
}

.category__form-group{
  position: relative;
}

.category__form{
  display: flex;
  position: absolute;
  top: -50px;
  left: 150px;
}

#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#memo_link_entry {
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 2;
  width: 60%;
  background-color: white;
}


#mask.hidden {
  opacity: 0;
  visibility: hidden;
}

#memo_link_entry.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);
}

#cancel_button{
  cursor: pointer;
}

#flash_message{
  background-color: green;
  color: white;
}

#form-area.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);
}

#form-area {
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 2;
  width: 60%;
  background-color: white;
}

#report-form-area.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);
}

#report-form-area {
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 2;
  width: 60%;
  background-color: white;
}

#report_cancel_button{
  cursor: pointer;
}

#notice {
  background-color: green;
  color: white;
}

#error {
  background-color: red;
  color: white;
}

.scroll-area{
  overflow: scroll;
  height: 60vh;
}