/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_directory
 *= require_self
 *= require_tree ./public
 */

// テーマ

@import "variables";
// メイン

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
	min-height: calc(100% + 30px);
}

body {
  font-family: $gothic-group;
  // background-color: #f0f0f0;
  background: linear-gradient(-135deg, rgba(169, 254, 255, 0.9), rgba(186, 145, 255, 0.9));
}

.body_color__about_page{
  background: linear-gradient(-135deg, rgba(169, 254, 255, 0.9), rgba(174, 195, 239, 0.9)),
  image-url("background-about.jpg");
  background-size: cover;
  background-position: top;
}

h2{
  font-family: "ＭＳ 明朝", "游ゴシック", "游ゴシック体";
}

nav, header, h2, textarea, input, select, label{
  font-family: "游ゴシック", "游ゴシック体";
  font-weight: 900;
}

pre{
  background-color: $pre-color;
}


.procedure-form{
  display: flex;
}

.procedure-form__position{
  width: 10%;
  display: flex;
  flex-direction: column;
}

.procedure-form__title{
  width: 40%;
  display: flex;
  flex-direction: column;
}

#procedure-form__title-input{
    width: 100%;
  }

.procedure-form__submit{
  display: flex;
  align-items: flex-end;
  padding-left: 10px;
}

.sortable-list__item{
  cursor: pointer;
  witdh: 100%;
  display: flex;
  align-items: center;
}

.sortable-chosen {
  color: #fff;
  background-color: #19b5d1;
}


.tab {
  cursor: pointer;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}

.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}

.tabbox {
  display: none;
  padding: 15px;
}

@keyframes show{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.box-show {
  display: block;
  animation: show 0.5s linear 0s;
}

.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

.d-flex{
  display: flex;
}

.category__form-group{
  position: relative;
}

.category__form{
  display: flex;
  position: absolute;
  top: -50px;
  left: 150px;
}

#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.memo-visible{
  opacity: 1;
  transition: 0.5s 0.1s;
}

.memo-invisible{
  opacity: 0;
}

.invisible{
  visibility: hidden;
}


#memo_link_entry {
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 2;
  width: 60%;
  background-color: white;
}


#mask.hidden {
  opacity: 0;
  visibility: hidden;
}

#memo_link_entry.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);
}

#cancel_button{
  cursor: pointer;
}

#flash_message{
  background-color:transparent;
  // color: white;
}

#form-area.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);
}

#form-area {
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 2;
  width: 60%;
  background-color: white;
}

#report-form-area.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);
}

#report-form-area {
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 2;
  width: 500px;
  background-color: white;
}

#report_cancel_button{
  cursor: pointer;
}

#notice {
  background-color: green;
  color: white;
}

#error {
  background-color: red;
  color: white;
}

.scroll-area{
  overflow: scroll;
  height: 60vh;
}

.header{
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header__row{
  height: 45px;
  display: flex;
}

.header__under{
  width: 100%;
  height: 100px;
}

.header__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.header__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  font-size: 0.8rem;
}

.header__bottom .search_box{
  margin-right: 20px;
  position: absolute;
  left: 40%;
  margin: auto;

}


.header_flex-end{
  justify-content: flex-end;
}

.header_flex-end li{
  margin-right: 10px;
}




.logo{
  width: 60px;

  img{
    width: 60px;
    position: relative;
    top: -8px;
    left: -7px;
  }
}

.nav{
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav li{
  display: inline-block;
  padding: 0px 20px;
}

.nav a{
  text-decoration: none;
}


.main {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.main__content{
  width: 400px;
  margin: 40px auto;
}

.main__top_content{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.switch_order{
  display: inline-block;
  margin-bottom: 10px;
}

.switch_order__left_btn{
  border: 1px solid;
  border-color: transparent;
  color: #0d6efd;
  text-decoration: none;
  border-radius: 15px 0 0 15px;
  padding: 0 10px;
  margin-right: 10px;
}

.switch_order__left_btn:hover{
  color: white;
  background-color: #0d6efd;
  transition: all 0.3s;
}

.switch_order__right_btn{
  border: 1px solid;
  border-color: transparent;
  color: #0d6efd;
  text-decoration: none;
  border-radius: 0 15px 15px 0;
  padding: 0 10px;
  margin-left: 10px;
}

.switch_order__right_btn:hover{
  color: white;
  background-color: #0d6efd;
  transition: all 0.3s;
}



.tag_search,
.category_search{
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}

.tag_search__title,
.category_search__title{
  background-color: $accent-color;
  border-radius: 15px;
  padding: 0 10px;
  margin-bottom: 10px;
  color: white;
}


.tag_search li,
.category_search li,
.category_list{
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 2px 0;

  &:hover {
    background-color: $accent-color;
  }

  a{
    text-decoration: none;
    color: $main-color;
    display: block;
  }
  &:hover a:not(.btn){
    color: white;
  }
}

.category_list{
  display: flex;
  justify-content: space-between;
  padding: 3px 10px;
}

.category_list__name{
  flex-grow: 1;
}

.category_list .btn{
  margin:0;
}

.tag_search li:last-child{
  border-bottom: none;
  padding-bottom: 0;
}

.main__content--narrow{
  max-width: 250px;
}


.main__content--outer_square_border{
  border: 1px solid $main-color;
  padding: 10px;
}


.main__center_content{
  flex-grow: 7;
  margin-left: 10px;
}

.main__center_content--plus_right{
  width: calc(100% - 300px);
}

.main__left_content{
  max-width: 200px;
  flex-grow: 1;
  height: 100%;
}
.main__left_content--type_category{
  width: 200px;
}


.main__left_content.-max_width_300px{
  max-width: 300px;
}


.main__right_content{
  width: calc(100% - 470px);
  margin-left: 10px;
  flex-grow: 1;
}
.-margin_left_sidebar{
  margin-left: 100px;
}


.main__bottom_content{
  width: 100%;
}


.main__content.main__content_w500{
  width: 500px;
}

.main__content.main__content_w800{
  width: 800px;
}


.main__content-title{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}

.main__content-title--small{
  font-size: 0.9rem;
}


.info-field{
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 0 20px 0 20px;
}


.info-field .info{
  padding: 10px 0;
}

.info-field .info:last-child{
  border-bottom: none;
}


.info{
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  align-items: center;
}

.info__label{
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.9rem;
  width: 200px;
}

.info__value{
  border: 1px solid rgba(0, 0, 0, 0.6);
  font-size: 0.9rem;
  width: 200px;
  margin-bottom: 10px;
}

.info__value.info__value--bgcolor_light{
  border: none;
  background-color: #efefef;
}




.-float_right{
  float: right;
}

.confirmation{
  text-align: center;
}

.confirmation__icon{
  margin-bottom: 20px;
  font-size: 5rem;
}

.confirmation__icon--danger{
  color: #dc3545;
}

.confirmation__title{
  margin-bottom: 20px;
}

.confirmation__list_group{
  margin-bottom: 20px;

}

.confirmation__list_group li{
  text-align: left;
  background-image: image-url("danger_circle.png");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: 0px 3px;
  color: #dc3545;
  padding-left: 20px;
}

.confirmation__list_group li span{
  color: black;
}

.confirmation__buttons{
  margin-top: 40px;
}

.confirmation__buttons .btn:first-child{
  margin-right: 40px;
}

.list__head{
  display: flex;
  padding: 0.5em;
  li {
    margin-left: 2px;
  }
}

.list__body{

  display: flex;
  position: relative;
  border-left: solid 8px $accent-color;
  background-color: #ffffff;
  margin-bottom: 5px;
  line-height: 2rem;
  border-radius: 0 15px 15px 0;
  padding: 0.5em;
  &:hover {
    background-color: #cdcdcd;
  }
  li{
    color: $main-color;


    a {
        text-decoration: none;
    }
  }
}

.everyone_manual_list .list__body{
  line-height: 40px;
}

.memo_link{
  text-decoration: none;
}

.memo_list{
  border:none;
  border-bottom: 1px solid $main-color;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  height: 108px;
  padding: 5px;
  margin-bottom: 0;

  .memo_list__direction_text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.75rem;
  }

  .memo_list__created_at{
    font-size: 0.9rem;
  }
  .memo_list__category{
    display:inline-block;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 10px;
    padding: 0 5px;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-left: 5px;
  }
}


.everyone_manual_list{
  .list__created_at_date{
    width: 10%;
    min-width: 120px;
  }

  .list__title{
    width: 40%;
    min-width: 330px;
    a{
      display: block;
    }
  }

  .list__bookmarked_users{
    width: 10%;
    min-width: 100px;
  }
  .list__rate{
    width: 15%;
    min-width: 92px;
  }
  .list__body .list__rate{
    color: #e8861f;
    font-size: 1.1rem;
  }

  .list__creator{
    width: 20%;
    min-width: 120px;
  }
}

.mine_manual_list{

  .list__created_at_date{
    width: 10%;
    min-width: 120px;
  }

  .list__title{
    width: 40%;
    min-width: 330px;
    a{
      display: block;
    }
  }

  .list__bookmarked_users{
    width: 10%;
    min-width: 100px;
  }
  .list__rate{
    width: 15%;
    min-width: 92px;
  }
  .list__body .list__rate{
    color: #e8861f;
    font-size: 1.1rem;
  }

  .list__status{
    width: 20%;
    min-width: 120px;
  }
}


.container{
  width: 80%;
  margin: 0 auto;
  text-align:center;
  min-height: 100vh;
}

.container.about_container{
  width: 100%;
}

.container__about_section {
  padding: 0;
}

.container__about_section .inner{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
  text-shadow: 2px 2px 2px white, -2px -2px 2px white, -2px 2px 2px white, 2px -2px 2px white;
  position: relative;
  padding: 30px;
  background-color: #ffffff;
  p{
    font-size: 2rem;
  }
}

.about0{
  margin-bottom: 30px;
  height: calc(100vh - 130px);
}

@keyframes bar {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

  16% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    height: 8rem;
  }

  45% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    height: 0;
  }

  66.6% {
    -webkit-transform: scaleY(1) translate3d(0,100%,0);
    transform: scaleY(1) translate3d(0,100%,0);
    height: 0;
  }

  to {
    -webkit-transform: scaleY(1) translate3d(0,100%,0);
    transform: scaleY(1) translate3d(0,100%,0);
    height: 0;
  }
}

.eyecatch{
  position: relative;
  &::before{
    content: "";
    height: 8rem;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 2px;
    background: hsla(0,0%,100%,.6);
    z-index: 1;
  }
  &::after{
    width: 6px;
    background: linear-gradient(-135deg, #3ab4ff, #005fbf);
    z-index: 1;
    content: "";
    height: 8rem;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 2px 2px 0 0;
    transform-origin: 50% 0;
    animation: bar 2s ease-out 3s infinite;
  }
}

.about1, .about2, .about3{
  background-color: #f2f2f2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.about1:before{
  content: "";
  height: 10px;
  background: linear-gradient(-135deg, #3ab4ff, #005fbf);
  display: block;
  width: 100%;
  margin: 0;
}


.container__section{
  width: 100%;
}
.section__title{
  font-size: 2.2rem;
  width: 100%;
  text-shadow: none;
  background: -webkit-linear-gradient(#3ab4ff, #005fbf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    &::after{
    content: "";
    display: block;
    width: 30%;
    background: linear-gradient(-135deg, #3ab4ff, #005fbf);
    margin: 10px auto 40px;
    height: 5px;
  }
}
.container__section_bg_block_right,
.container__section_bg_block_left {
  padding: 70px 0;
}
.container__section_bg_block_right{
  height: 100%;
}
.container__section_bg_block_left{
  height: 100%;
}

.block-left, .block-right{
  width: 50%;
  padding: 0 30px;
}

.annotation{
  font-size: 0.8rem;
}

.tabbox a{
  margin-bottom: 5px;
}

.memo__list_item{
  text-decoration: none;
  border-bottom: solid 1px #CCC;
  cursor: pointer;
  display: block;
}

.memo__list_item:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}


.memo__list_item--active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}

.procedure__list_group_head{
  display: flex;
  .btn{
    margin-left: auto;
  }
  h3{
    display: inline-block;
    line-height: 3rem;
  }
}


.date_text{
  font-size: 0.9rem;
  color: rgb(102, 102, 102);
}

.user_icon{
  .user_name{
    font-size: 0.75rem;
  }
}

.admin_icon{
  .admin_name{
    font-size: 0.75rem;
  }
}

.blank{
  width: 20px;
}

#stars{
  display: flex;
  margin: 5px 10px;
}

.star{
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
}

.w-80{
  width: 80%;
}

.w-90{
  width: 90%;
}

.w-100{
  width: 100%;
}


.d-flex{
  display: flex;
}

.d-flex--wrap{
  flex-wrap: wrap;
}

.d-flex--align_items_center{
  align-items: center;
}

.d-flex--flex_direction_column{
  flex-direction: column;
}

.d-flex--justify_content_space_between{
  justify-content: space-between;
}

.d-flex--justiry_content_flex_end{
  justify-content: flex-end;
}

.flex-grow-1{
  flex-grow: 1;
}

.d-inline-block{
  display: inline-block;
}

.d-block{
  display: block;
}

.d-none{
  display: none;
}

.mt-0{
  margin-top: 0;
}

.mt-1{
  margin-top: 1rem;
}

.mt-2{
  margin-top: 2rem;
}

.ml-auto{
  margin-left: auto;
}

.ml-0{
  margin-left: 0;
}

.mb-1{
  margin-bottom: 1rem;
}

.mb-2{
  margin-bottom: 2rem;
}

.mx-0,
.row.mx-0{
  margin-right: 0;
  margin-left: 0;
}

.p-1{
  padding: 1rem;
}
.pt-1{
  padding-top: 1rem;
}

.py-0,
.form.py-0{
  padding-top: 0;
  padding-bottom: 0;
}


.bookmark-color{
  color: $bookmark-color;
}

.procedure_title{
  max-width: 300px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
}



.col-12{
  width: 100%;
}

.col-6{
  width: 50%;
}

.title--center{
  text-align: center;
}
.font--size_large{
  font-size: 2rem;
}


.text--decoration_none{
  text-decoration: none;
}

.disabled_area{
  border: 3px dashed #747474;
}

.list_thumbnail{
  height: 40px;
  margin-right: 5px;
}

.-word_wrap{
  word-wrap: break-word;
}
.display_type_thumbnail .thumbnail_btn,
.display_type_list .list_btn {
  background: rgba(0, 0, 0, 0.4);
  padding: .2rem .5rem;
  border-radius: 15px;
  color: #fff;
}
.thumbnail_btn{
  margin-right: 10px;
  text-decoration: none;
  color: #000;
}
.list_btn{
  text-decoration: none;
  color: #000;
}
.color-white{
  color: white;
}