@import "variables";

.bg_color_white{
  background-color: #ffffff;
}

.text--bookmark_color{
  color: $bookmark-color;
}

.text--primary_color{
  color: $primary-color;
}

.text--danger_color{
  color: $danger-color;
}

.text--disabled_color{
  color: #747474;
}