@import "variables";

.form-field{
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 0 20px 0 20px;
  margin-bottom: 20px;
}

.form-field .form{
  padding: 10px 0;
}

.form{
  display: flex;
  flex-wrap: wrap;
}

.column_form{
  display: flex;
  flex-direction: column;
  padding: 10px 0;

}


.form__label{
  margin-right: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.9rem;
}

.column_form__label{
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.9rem;
}

.form__input{
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 3px 8px;
  border-radius: 4px;
}

.column_form__input{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 3px 8px;
  border-radius: 10px;
  min-height: 30px;
}

.column__form__input_file_area{
  display: block;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.column__fomr__input_file_text{
  display:inline-block;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0 10px 0 10px;
  line-height: 30px;
  background-color: #efefef;
  height: 100%;

}

#select_file_name{
  display: inline-block;
}



.column_form__input_file{
  border: none;
  padding: 0;
  cursor: pointer;
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
}




.form__input_text_area{
  height: 10vh;
}

.form__input:hover{
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.field_with_errors{
  display: contents;
}

.form_check_box{
  align-items: center;
}

.form_check_box input{
  margin-right: 5px;
}

.form__check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: .125rem;
}

.form__check--inline{
  display: inline-block;
  margin-right: 1rem;
}

.form__check_input[type=radio]{
  border-radius: 50%;
}


.input_group{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  margin-bottom: 10px;
}

.input_group__form{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    line-height: 1.5;
    padding: 5px;
}

.input_group__button{
  margin: 0 0 0 -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input_group__button:hover{
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

.search_box{
  display: flex;
  align-items: center;
  position: relative;
  .search_box__form,
  .search_button{
    border: 1px solid #000000;
    padding: 5px;
    height: 2rem;

  }
  .search_box__form{
    border-radius: 10px 0 0 10px;
    display: inline-block;
  }
  .search_button{
    cursor: pointer;
    position: relative;
    display: inline-block;

    left: -10px;
    border-radius: 0 10px 10px 0;
  }
}