@import "variables";

.nav__left{
  display: flex;
}

.nav__right{
  display: flex;
}

.nav .nav_btn{
  padding: 0;
  text-align: center;
  display: table;
  width: 110px;
  border-right: 1px solid #e5e5e5;
  cursor: pointer;
  &:first-child{
    border-left: 1px solid #e5e5e5;
  }

  &:hover:not(.danger){
    border-bottom: 2px solid $primary-color;
    a{
      color: $primary-color;
    }
  }
  &:hover.danger{
    background-color: $danger-color;
    transition: background-color 0.5s;
    a.danger{
      color: #fff;
    }
  }


  a{
    display: table-cell;
    vertical-align: top;
    font-size: 12px;
    color: #000000;
    &.danger{
      color: $danger-color;
    }
  }


  i{
    font-size: 17px;
  }
}

.nav__admin_login_msg{
  line-height: 40px;
  white-space: nowrap;
  font-size: 14px;
}