.sidebar {
  background-color: #324546;
  color: white;
  position: absolute;
  left: 0;
  width: 200px;
  max-height: calc(100% - 70px);
  transition: left 0.5s;

}
.sidebar--radius{
  border-radius: 8px;
}

.sidebar__list--scroll{
  overflow-y: scroll;
  height: 90%;
  overflow-wrap: break-word;
}

.sidebar.-fixed,
.sidebar_second.-fixed{
  position: fixed;
}
.sidebar--hidden {
    left: -170px;
    transition: left 0.5s;
}

.sidebar_second{
  position: absolute;
  left: 190px;
  top: 130px;
  width: 200px;
  max-height: calc(100% - 70px);
  transition: left 0.5s;
}
.sidebar_second__list--scroll{
  overflow-y: scroll;
  max-height: 75vh;
  overflow-wrap: break-word;
}

.sidebar_second--hidden {
    left: 20px;
    transition: left 0.5s;
}


.sidebar__hidden_button_parent{
  position: relative;
}

.sidebar__hidden_button,
.sidebar__visible_button{
  padding: 5px;
  color: #000;
  position: absolute;
  cursor: pointer;
  border-radius: 15px;
  right: -20px;
  width: 30px;
  height: 30px;
  font-size: 2rem;
  top: -13px;

}
.category_sidebar{
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  height: 90%;
  li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2px 0;

    a {
    text-decoration: none;
    display: block;
    }
    &:hover{
      box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .5);
      transform: translateY(-1px);
      background-color: #19b5d1;
    }
  }
}