<div class="breadlist">
  <ul class="breadlist__items">

    <li class="breadlist__item">
      <i class="fas fa-chevron-right"></i>
      <%= link_to 'マニュアル一覧', admin_manuals_path %>
    </li>


  </ul>
</div>