<main>
  <div class="main__content main__content_w500 panel notifications">
    <h2 class="title--center">通知一覧</h2>
    <% if @notifications.exists? %>
      <div class="scroll-list" id="jscroll">
        <%= render @notifications.preload(:visitor, :visited, :manual, :review) %>
        <div class="invisible">
          <%= paginate @notifications %>
        </div>
      </div>
    <% else %>
      <p class="notifications__nonmessage">通知はありません</p>
    <% end %>
  </div>
</main>
